<!-- wp:oik-sb/sb-debug-block /-->

<!-- wp:template-part {"slug":"header","layout":{"inherit":false,"contentSize":"100%"}} /-->

<!-- wp:template-part {"slug":"404","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"query-pagination","tagName":"section","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"latest-posts","tagName":"section","backgroundColor":"very-light-gray"} /-->
<!-- wp:template-part {"slug":"category-tag-clouds","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","style":{"color":{"background":"#f7f7f7"}},"textColor":"foreground","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"post-footer-stuff"} /-->