<!-- wp:html -->
<div class="WP_DEBUG">featured-image-left.html</div>
<!-- /wp:html -->
<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:template-part {"slug":"post-title" } /-->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column -->
    <div class="wp-block-column"><!-- wp:post-featured-image /--></div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:post-content /--></div>
    <!-- /wp:column -->

    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:template-part {"slug":"page-tree"} /--></div>
    <!-- /wp:column --></div>
<!-- /wp:columns -->

<!-- wp:paragraph -->
<p></p>
<!-- /wp:paragraph -->

<!-- wp:template-part {"slug":"category-tag-clouds","tagName":"section"} /-->
<!-- wp:template-part {"slug":"footer","backgroundColor":"very-light-gray","textColor":"foreground","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"post-footer-stuff"} /-->