<!-- wp:html -->
<div class="WP_DEBUG">front-page.html</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header"} /-->

<!-- wp:group {"backgroundColor":"site-header-background","layout":{"inherit":true}} -->
<div class="wp-block-group has-site-header-background-background-color has-background"><!-- wp:cover {"overlayColor":"current-menu","minHeight":100,"minHeightUnit":"vh","contentPosition":"top center","align":"full"} -->
    <div class="wp-block-cover alignfull has-custom-content-position is-position-top-center" style="min-height:100vh"><span aria-hidden="true" class="has-current-menu-background-color has-background-dim-100 wp-block-cover__gradient-background has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:paragraph {"align":"center","placeholder":"Write title…","style":{"typography":{"fontSize":"52px"}}} -->
        <p class="has-text-align-center" style="font-size:52px"><strong><span style="color:#1a1a2a" class="has-inline-color">F</span></strong>ull <strong><span style="color:#1a1a2a" class="has-inline-color">S</span></strong>ite <strong><span style="color:#1a1a2a" class="has-inline-color">E</span></strong>diting <br>blocks and themes</p>
        <!-- /wp:paragraph -->

        <!-- wp:paragraph -->
        <p> A <s>beginner's guide</s> <em>an introduction</em>, with Herb Miller</p>
        <!-- /wp:paragraph --></div></div>
    <!-- /wp:cover -->

    <!-- wp:paragraph -->
    <p></p>
    <!-- /wp:paragraph --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"main-body"} /-->

<!-- wp:template-part {"slug":"latest-posts","tagName":"section"} /-->

<!-- wp:template-part {"slug":"category-tag-clouds","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer"} /-->

<!-- wp:template-part {"slug":"post-footer-stuff"} /-->