<!-- wp:html -->
<div class="WP_DEBUG">index.html</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header","theme":"thisis"} /-->

<!-- wp:group {"layout":{"inherit":true}} -->
<div class="wp-block-group"><!-- wp:group {"backgroundColor":"site-header-background"} -->
    <div class="wp-block-group has-site-header-background-background-color has-background"><!-- wp:post-title {"textColor":"very-light-gray"} /--></div>
    <!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"main-body","theme":"thisis"} /-->

<!-- wp:template-part {"slug":"query-pagination","theme":"thisis","tagName":"section"} /-->

<!-- wp:template-part {"slug":"category-tag-clouds","theme":"thisis","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"thisis"} /-->

<!-- wp:template-part {"slug":"post-footer-stuff","theme":"thisis"} /-->
