<!-- wp:html -->
<div class="WP_DEBUG">index.html</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header","theme":"thisis"} /-->

<!-- wp:template-part {"slug":"post-title" } /-->

<!-- wp:template-part {"slug":"main-body","theme":"thisis"} /-->

<!-- wp:template-part {"slug":"query-pagination","theme":"thisis","tagName":"section"} /-->

<!-- wp:template-part {"slug":"category-tag-clouds","theme":"thisis","tagName":"section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"thisis"} /-->

<!-- wp:template-part {"slug":"post-footer-stuff","theme":"thisis"} /-->
