<!-- wp:html -->
<div class="WP_DEBUG">search.html</div>
<!-- /wp:html -->

<!-- wp:template-part {"slug":"header","layout":{"inherit":false,"contentSize":"100%"}} /-->

<!-- wp:heading -->
<h2 id="search-results">Search results</h2>
<!-- /wp:heading -->

<!-- wp:template-part {"slug":"post-title" } /-->
<!-- wp:template-part {"slug":"main-body","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"query-pagination","tagName":"section","layout":{"inherit":true}} /-->

<!-- wp:template-part {"slug":"category-tag-clouds","tagName":"section"} /-->
<!-- wp:template-part {"slug":"footer","style":{"color":{"background":"#f7f7f7"}},"textColor":"foreground","layout":{"inherit":true}} /-->
<!-- wp:template-part {"slug":"post-footer-stuff"} /-->
